<div class="page-header">
	<h1>Создать продукт</h1>
</div>


<form role="form" method="POST" action="/product/create">
	<div class="form-group">
		<label for="name">Название</label>
		<input class="form-control name-autocomplete" type="text" name="name" placeholder="Название" required="required" {{#if model}}value="{{model.name}}"{{/if}} >
	</div>
	<div class="form-group">
		<label for="description">Описание</label>
		<textarea class="form-control" rows="3" type="textarea" name="description" placeholder="Описание" {{#if model}}value="{{model.description}}"{{/if}}></textarea>
	</div>
	<div class="form-group">
		<label for="price">Цена</label>
		<input class="form-control" type="text" name="price" placeholder="Цена" {{#if model}}value="{{model.price}}"{{/if}}>
	</div>
	<div class="form-group">
		<label for="shops">Компания</label>
		<select class="form-control combo-box" name="company">
			{{#each companies}}
				<option value="{{this._id}}">{{this.name}}</option>
			{{/each}}
		</select>		
	</div>
	<div class="form-group">
		<label for="shops">Магазин</label>
		<select class="form-control combo-box" name="shop">
			{{#each shops}}
				<option value="{{this._id}}">{{this.name}}</option>
			{{/each}}
		</select>		
	</div>

	<button type="submit" class="btn btn-primary">Создать</button>
</form>