<div class="page-header">
	<h1>
		{{#ifadmin}}
			<a class="btn btn-lg" role="button" href="/product/update/{{model._id}}">
				<span class="glyphicon glyphicon-edit"></span>
			</a> 
		{{/ifadmin}}
				
		{{model.name}}, {{getPrice model.price}}р.

		{{#ifadmin}}
			<a class="btn btn-lg remove-item" role="button" data-id="{{model._id}}" href="/product">
				<span class="glyphicon glyphicon-remove-circle"></span>
			</a>
		{{/ifadmin}}		
	</h1>
	<h3>{{model.company.name}}</h3>	
</div>

<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-8">
		<p class="lead"><a href="/shop/{{model.shop._id}}">{{model.shop.name}}</a></p>
		<p>{{model.description}}</p>
	</div>	
</div>