<div class="page-header">
	<h1>
		{{getDate model.modified}}	
		{{#if model.completed}}
			<span class="label label-success">Завершен</span>
		{{/if}}	
	</h1>
	<p><i>Общее количество товаров: {{model.totalQuantity}}</i></p>
	<p><b>На общую сумму: {{model.totalPrice}}р.</b></p>
	{{#ifnot model.completed}}
		<p>
			<form role="form" method="POST" action="/order/complete">
				<input type="hidden" name="id" value="{{model.id}}">
				<button type="submit" class="btn btn-success">Завершить</button>
			</form>
		</p>
	{{/ifnot}}
</div>

<div class="row">	
	<div class="col-xs-12 col-sm-6 col-md-8">
		<p class="lead"></p>
	</div>	
</div>

<div class="row">
	{{#each model.items}}
		<div class="col-xs-6 col-sm-4">
			<div class="thumbnail">
				<div class="caption">
					<h3>
						<a href="/product/{{this.product}}">{{this.name}}, {{this.price}}р.</a>
						<a class="btn remove-item pull-right" role="button" data-id="{{this._id}}" href="/order/item"><span class="glyphicon glyphicon-remove-circle"></span></a>
					</h3>
					<p class="lead">{{this.companyname}}, {{this.shopname}}</p>
					<p><i>Количество: {{this.quantity}}</i></p>
					<p><b>Сумма: {{this.total}}р.</b></p>
				</div>
			</div>
		</div>
	{{/each}}
</div>